<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LandingServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.LandingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImageServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.ShowImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.AdminViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductByIdServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UpdateProductByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserHomeServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UserHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStockServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.AdminStockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.CartDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateToCartServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UpdateToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnshippedItemServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UnshippedItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippedItemServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.ShippedItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateContactServlet</servlet-name>
        <servlet-class>in.gadgethub.servlet.UpdateContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LandingServlet</servlet-name>
        <url-pattern>/LandingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImageServlet</servlet-name>
        <url-pattern>/ShowImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewServlet</servlet-name>
        <url-pattern>/AdminViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductByIdServlet</servlet-name>
        <url-pattern>/UpdateProductByIdServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/RemoveProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserHomeServlet</servlet-name>
        <url-pattern>/UserHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStockServlet</servlet-name>
        <url-pattern>/AdminStockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailServlet</servlet-name>
        <url-pattern>/CartDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateToCartServlet</servlet-name>
        <url-pattern>/UpdateToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnshippedItemServlet</servlet-name>
        <url-pattern>/UnshippedItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippedItemServlet</servlet-name>
        <url-pattern>/ShippedItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateContactServlet</servlet-name>
        <url-pattern>/UpdateContactServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- This code is not working
    <context-param>
        
        <param-name>url</param-name>
        <param-value>jdbc:oracle:thin@//localhost:1521/xe</param-value>
        
        <param-name>name</param-name>
        <param-value>tapesh</param-value>
        
        <param-name>password</param-name>
        <param-value>abc</param-value>
    </context-param>
    -->
</web-app>
